/*
Title: Main CSS 
Author: Travis Caro
Course: CIS 370
Description: Style appropriate elements to create aesthetically pleasing design
*/

/*Default Nav*/

@media (min-width: 850px){

    nav{
        margin: 0;
        padding: 0 10px;
        background: #ccc; 
        z-index: 5; 
    }

    nav img{
        vertical-align: middle;
    }

    nav ul ul{
        display:none;
    }

    nav ul li:hover > ul{
        display:block;
    }

    nav ul{
        list-style: none;
        background: #ccc;  
        padding: 0;
        margin: 0;
        position: relative;   
        font-weight: bold;
    }

    nav ul:after{
        content: "";
        clear:both;
        display:block;
    }

    nav ul li{
        float:left;
        position:relative;
        z-index: 5;
        border-left:;
        border-right:; 
    }

    nav ul li:hover{
        background: #0066FF;
    }

    nav ul li a{
        text-decoration: none;
        padding: 1.25em 2em;
        display:block;
        color: #0066FF;
    }

    nav ul li:hover a{
        color: #fff;
    }

    nav ul ul{
        padding: 0;
        background: #0066FF;
        position: absolute;
        top:100%;
        left: 0%;
        font-weight: normal;
        z-index: 5;
    }

    nav ul ul li{
        float: none;
        position: relative;
    }

    nav ul ul li a{
        padding: 1em 1em;
        border-top: 1px solid #007fff;
    }

    nav ul ul li a:hover{
        background: #0088FF;
    }

    nav ul ul ul{
        position:absolute;
        top:0;
        left:100%;
    }
}











@media (max-width: 850px){


    nav{
        margin: 0;
        padding: 0 10px;
        background: #ccc; 
        z-index: 5; 
    }

    nav img{
        display: none;
    }

    nav ul ul{
        display:none;
    }

    nav ul{
        list-style: none;
        background: #ccc;  
        padding: 0;
        margin: 0;
        position: relative;   
        font-weight: bold;
    }

    nav ul:after{
        content: "";
        clear:both;
        display:block;
    }

    nav ul li{
        position:relative;
        z-index: 5;
        border-left:;
        border-right:; 
    }

    nav ul li:hover{
        background: #0066FF;
    }

    nav ul li a{
        text-decoration: none;
        padding: 1.25em 2em;
        display:block;
        color: #0066FF;
        text-align: center;
    }

    nav ul li:hover a{
        color: #fff;
    }

    
}

