<!DOCTYPE html>
<!--
Title: Ideas
Author: Travis Caro
Course: CIS 370
Description: Include links and cite 3 sources of inspiration that were used in designing and implementing my site

    - Seven Springs
    http://www.7springs.com/

    - Northern Light Innovation
    http://www.northernlightinnovation.com/

    - Line 25
    http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu

-->
<html>
    <head>
        <title>Snowflake Ski Resort</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="stylesheet" href="../css/nav.css"/>
        <link rel="stylesheet" href="../css/main.css"/>        
                
        <link rel="shortcut icon" href="../img/favicon.ico" />
        
        <script type="text/javascript" src ="../js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
    </head>
    <body>
        <div class ="container">
            <header>                
            </header>
            <nav>              
            </nav>                    
            <section class ="content-main">
                <section class="heading-sec">
                    Site Inspiration
                </section>
                <section class="content-inspiration">
                    <a href="http://www.7springs.com/">Seven Springs</a>
                     
                    <br/>

                    <section class="inspiration-container">
                        <img src="../img/seven-springs.jpg" alt="Seven Springs" />
                    </section>
                </section>
                <section class="content-inspiration">
                    <a href="http://www.northernlightinnovation.com/">Northern Light Innovation</a>
                    
                    <br/>

                    <section class="inspiration-container">
                        <img src="../img/northern-light-innovation.jpg" alt="Northern Light Innovation" />
                    </section>
                </section>
                <section class="content-inspiration">
                    <a href="http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu">Line-25</a>
                    
                    <br/>

                    <section class="inspiration-container">
                        <img src="../img/line-25.jpg" alt="Line 25" />
                    </section>
                </section>
            </section>
            <footer>                
            </footer>
        </div>
    </body>
</html>


            