<!DOCTYPE html>
<!--
Title: Home Page 
Author: Travis Caro
Course: CIS 370
Description: Home page to provide framework for later and expanding content

Details ->

Snowflake Ski Resort

Color Scheme -> Blue(#0066FF) + White(#FFFFFF)

-->
<html>
    <head>
        <title>Snowflake Ski Resort</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../css/nav.css"/>
        <link rel="stylesheet" href="../css/main.css"/>        
                
        <link rel="shortcut icon" href="../img/favicon.ico" />
        
        <script type="text/javascript" src ="../js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
    </head>
    <body>
        <div class ="container">
            <header>                
            </header>
            <nav>              
            </nav>                    
            <section class ="content-main">
                <section id="home-head">
                    <img alt="logo" src="../img/logo.png" />
                </section>    
                <section>
                    <img src="../img/welcome.jpg" alt="ski-lift" />                    
                </section>
                <section class="innercontent"> 
                    <div class="content-largefont">
                        <span class="quote">"Snowflake Ski Resort - Chilled fun!"</span>
                        <br/>                    
                        <a href="./rates.html">Become a member today!</a>
                    </div>
                </section>
            </section>
            <footer>                
            </footer>
        </div>
    </body>
</html>


            