<!DOCTYPE html>
<!--
Title: Newsletter
Author: Travis Caro
Course: CIS 370
Description: Provide mock newsletter content that would appear to be dynamic, emailable content. Also, include all styles inline so as to be able to send via email
-->
<html>
    <head>
        <title>Snowflake Ski Resort</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../css/nav.css"/>
        <link rel="stylesheet" href="../css/main.css"/>        
                
        <link rel="shortcut icon" href="../img/favicon.ico" />
        
        <script type="text/javascript" src ="../js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>

        <style type="text/css">
            .news-article{
                width:80%;
                margin:auto;
                padding:2.5%;
            }

            .news-article img{
                display:block;
                margin:auto;
                width: 100%;
            }

        </style>

    </head>
    <body>
        <div class ="container">
            <header>                
            </header>
            <nav>              
            </nav>                    
            <section class ="content-main">
                <section class="heading-sec">
                    Snowflake Newsletter
                </section>
                <section class="news-article">
                    <img src="../img/ski-lift.jpg" alt="ski-lift" />            
                    <h3>Enjoy a holiday at Snowflake!</h3>

                    <p>Snowflake is running a brand new holiday promotion for new and veteran members alike.
                        Join us this holiday season!

                </section>
                <section class="news-article">
                    <img src="../img/sled-lodge.jpg" alt="sled-lodge" />
                    <h3>Try our new lodging!</h3>

                    <p>With the addition of our brand new lodging there is room for the whole family.
                        Bring your friends and enjoy a getaway at Snowflake!

                    <p><a href="./underconstruction.html">Subscribe</a> to our newsletter for future updates and promotional offers
                </section>              
            </section>
            <footer>                
            </footer>
        </div>
    </body>
</html>


            