<!DOCTYPE html>
<!--
Title: Rates
Author: Travis Caro
Course: CIS 370
Description: Display price and package information in tables. To be filled by database information.s
-->
<html>
    <head>
        <title>Snowflake Ski Resort</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="stylesheet" href="../css/nav.css"/>
        <link rel="stylesheet" href="../css/main.css"/>        
                
        <link rel="shortcut icon" href="../img/favicon.ico" />
        
        <script type="text/javascript" src ="../js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
    </head>
    <body>
        <div class ="container">
            <header>                
            </header>
            <nav>              
            </nav>                    
            <section class ="content-main">
                <section class="heading-sec">
                    Snowflake Rates
                </section>
                <section class="innercontent">
                    
                    <!-- Lift Ticket / Equipment Rental / Packages & Deals -->
                    <table class="header-table" id="ticket-table">
                        <tbody>
                            <tr class="table-title">
                                <td colspan="3">
                                    2014-2015 Lift Ticket Rates
                                </td>                            
                            </tr>
                            <tr class="column-title">
                                <td>
                                    MONDAY - THURSDAY   
                                </td>
                                <td>
                                    ADULTS
                                </td>
                                <td>
                                    KIDS (6-11)
                                </td>
                            </tr> 

                            <tr>
                                <td>
                                    ALL DAY (9AM - 9PM)
                                </td>
                                <td>
                                    $60
                                </td>
                                <td>
                                    $45
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    TWILIGHT (2PM - 9PM)
                                </td>                   
                                <td>
                                    $50
                                </td>  
                                <td>
                                    $40
                                </td>       
                            </tr>      
                        </tbody>
                    </table>

                    <table class="content-table">
                        <tbody>
                            <tr class="column-title">
                                <td>
                                    FRIDAY - SUNDAY   
                                </td>
                                <td>
                                    ADULTS
                                </td>
                                <td>
                                    KIDS (6-11)
                                </td>
                            </tr> 

                            <tr>
                                <td>
                                    ALL DAY (9AM - 10PM)
                                </td>
                                <td>
                                    $75
                                </td>
                                <td>
                                    $55
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    TWILIGHT (2PM - 10PM)
                                </td>                   
                                <td>
                                    $70
                                </td>  
                                <td>
                                    $50
                                </td>       
                            </tr>      
                        </tbody>

                    </table>

                    <table class="content-table">
                        
                        <tbody>
                            <tr class="column-title">
                                <td>
                                    HOLIDAYS   
                                </td>
                                <td>
                                    ADULTS
                                </td>
                                <td>
                                    KIDS (6-11)
                                </td>
                            </tr> 

                            <tr>
                                <td>
                                    ALL DAY (9AM - 10PM)
                                </td>
                                <td>
                                    $85
                                </td>
                                <td>
                                    $60
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    TWILIGHT (2PM - 10PM)
                                </td>                   
                                <td>
                                    $80
                                </td>  
                                <td>
                                    $55
                                </td>       
                            </tr>      
                        </tbody>

                    </table>
                    



                    <table class="header-table" id="rental-table">
                        
                        <tbody>
                            <tr class="table-title">
                                <td colspan="3">
                                    2014-2015 Ski OR Snowboard Rental
                                </td>                            
                            </tr>
                            <tr class="column-title">
                                <td>
                                    NON-HOLIDAY   
                                </td>
                                <td>
                                    ADULTS
                                </td>
                                <td>
                                    KIDS (6-11)
                                </td>
                            </tr> 

                            <tr>
                                <td>
                                    ALL DAY (9AM - 9PM)
                                </td>
                                <td>
                                    $45
                                </td>
                                <td>
                                    $40
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    TWILIGHT (2PM - 9PM)
                                </td>                   
                                <td>
                                    $40
                                </td>  
                                <td>
                                    $35
                                </td>       
                            </tr>      

                            <tr>
                                <td>
                                    TWO DAYS
                                </td>                   
                                <td>
                                    $73
                                </td>  
                                <td>
                                    $68
                                </td>       
                            </tr>      

                            <tr>
                                <td>
                                    THREE DAYS
                                </td>                   
                                <td>
                                    $80
                                </td>  
                                <td>
                                    $75
                                </td>       
                            </tr>                              
                        </tbody>

                    </table>

                    <table class="content-table">
                        
                        <tbody>
                            <tr class="column-title">
                                <td>
                                    HOLIDAY   
                                </td>
                                <td>
                                    ADULTS
                                </td>
                                <td>
                                    KIDS (6-11)
                                </td>
                            </tr> 

                            <tr>
                                <td>
                                    ALL DAY (9AM - 9PM)
                                </td>
                                <td>
                                    $47
                                </td>
                                <td>
                                    $42
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    TWILIGHT (2PM - 9PM)
                                </td>                   
                                <td>
                                    $42
                                </td>  
                                <td>
                                    $37
                                </td>       
                            </tr>      

                            <tr>
                                <td>
                                    TWO DAYS
                                </td>                   
                                <td>
                                    $75
                                </td>  
                                <td>
                                    $70
                                </td>       
                            </tr>      

                            <tr>
                                <td>
                                    THREE DAYS
                                </td>                   
                                <td>
                                    $85
                                </td>  
                                <td>
                                    $80
                                </td>       
                            </tr>
                        </tbody>

                    </table>

                    <table class="header-table" id="package-table">
                        
                        <tbody>
                            <tr class="table-title">
                                <td colspan="3">
                                    2014-2015 Packages & Promotions
                                </td>                            
                            </tr>
                            <tr class="column-title">
                                <td>
                                    PACKAGES & DEALS   
                                </td>
                                <td>
                                    ADULTS
                                </td>
                                <td>
                                    KIDS (6-11)
                                </td>
                            </tr> 

                            <tr>
                                <td>
                                    WEEKLY SKI (MON-THURS AFTER 2PM)
                                </td>
                                <td>
                                    $400
                                </td>
                                <td>
                                    $300
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    FULL SEASON PASS
                                </td>
                                <td>
                                    $500
                                </td>
                                <td>
                                    $400
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    LATE SEASON PASS (AFTER JAN 21)
                                </td>                   
                                <td>
                                    $350
                                </td>  
                                <td>
                                    $300
                                </td>       
                            </tr>      
                        </tbody>

                    </table>
                    
                    <section class="content-center" id="holiday-promotion">
                    Holiday Specials coming soon!
                    </section>
                </section>

            </section>
            <footer>                
            </footer>
        </div>
    </body>
</html>


            