<!DOCTYPE html>
<html>
    <head>
        <title>Snowflake Ski Resort</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="stylesheet" href="../css/nav.css"/>
        <link rel="stylesheet" href="../css/main.css"/>        
                
        <link rel="shortcut icon" href="../img/favicon.ico" />
        
        <script type="text/javascript" src ="../js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
    </head>
    <body>
        <div class ="container">
            <header>                
            </header>
            <nav>              
            </nav>                    
            <section class ="content-main">

            </section> 
            <!-- END MAIN -->
            <footer>                
            </footer>
        </div>
        <!-- END CONTAINER -->
    </body>
</html>


            