
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">    

<style type="text/css">

body{
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, sans-serif;
    color: #0066ff;
}

h1{font-size: 1.5em;}

.heading-sec{
    text-align:center;
    padding: 5%;
    font-size: 4em;
}

.news-article{
    width:80%;
    margin:auto;
    padding:2.5%;
}

</style>
           
<section class="heading-sec">
    Snowflake Newsletter
</section>
<section class="news-article">
    <h1>Enjoy a holiday at Snowflake!</h1>

    <p>Snowflake is running a brand new holiday promotion for new and veteran members alike.
        Join us this holiday season and give the gift of chilled fun to the whole family!

</section>
<section class="news-article">
    <h1>Try our new lodging!</h1>

    <p>With the addition of our brand new lodging there is room for everyone.
        Bring your friends and enjoy a getaway at Snowflake!
</section>



            